<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<!-- <value>com.mysql.jdbc.jdbc2.optional.MysqlDataSource</value>-->
			<value>sun.jdbc.odbc.JdbcOdbcDriver</value>
		</property>
		<property name="url">
			<value>jdbc:odbc:etime-java</value>
		</property>
		<property name="username">
			<value>admin</value>
		</property>
		<property name="password">
			<value></value>
		</property>

	</bean>
	
	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>
	
	
	<bean id="etimingReader" class="net.spjelkavik.emit.ept.EtimingReader">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
</beans>